#form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171a1f;
}

#form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    background-color: ghostwhite;
    box-shadow: 1px 1px 10px #555;
}

#form form input{
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
}

form input[type=submit] {
    padding: 10px;
    margin: 10px;
    background-color: #171a1f;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: black;
}